<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/content.css">
  <script src="/scripts/admin.js" defer></script>
  <title><%= developer.name %></title>
</head>
<body>
  <%- include("partials/header") %>
  <div class="container">
    <div class="item">
      <h1> <%= developer.name %> </h1>
      <h2>About</h2>
      <%= developer.about %>
      <h2>Games</h2>
      <% games.forEach((game) => { %>
        <div>
          <a href="/games/<%= game.game_id %>"> <%= game.name %> </a>
        </div>
      <% }) %>
    </div>
    <div class="item inp">
      <h1>Update developer</h1>
      <form action="/developers/<%= developer.developer_id %>/update" method="POST">
        <input type="text" name="developer_name" placeholder="Enter new name">
        <input type="text" placeholder="Enter about developer" name="about">
        <button type="submit"> Update </button>
      </form>
      <h1> Delete developer </h1>
      <form action="/developers/<%= developer.developer_id %>/delete" method="POST">
        <button type="submit"> Delete </button>
      </form>
      <%- include("partials/errors") %>
    </div>
  </div>
  <%- include("partials/footer") %>
</body>
</html>