<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= developer.name %></title>
</head>
<body>
  <h1> <%= developer.name %> </h1>
  <h2>About</h2>
  <%= developer.about %>
  <h2>Games</h2>
  <% games.forEach((game) => { %>
    <div>
      <a href="/games/<%= game.game_id %>"> <%= game.name %> </a>
    </div>
  <% }) %>
</body>
</html>