<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= game.name %></title>
</head>
<body>
  <h1><%= game.name %></h1>
  <h2>Synopsis</h2>
  <h3><%= game.synopsis %></h3>
  <h2>System Requirements</h2>
  <h3><%= game.sysreq %></h3>
  <h2> Release Date </h2>
  <h3><%= game.release_date %></h3>
  <h2>Developer</h2>
  <h3><a href="/developers/<%= developer.developer_id %>"> <%= developer.name %> </a> </h3>
  <h2> Categories </h2>
  <% categories.forEach((category) => { %>
    <div>
    <a href="/categories/<%= category.name %>"> <%= category.name %> </a>
    </div>
  <% }) %>
</body>
</html>